[Unit]
Description=HeykPrint IR Remote Keytable Loader
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/bin/ir-keytable -c -p nec,rc-5 -w /etc/rc_keymaps/heykprint_remote.toml -D 250 -P 100
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
