[Unit]
Description=MantaPrint Universal Print Hub Realtime Web Dashboard
After=network.target cups.service avahi-daemon.service ipp-usb.service
Wants=cups.service avahi-daemon.service

[Service]
Type=simple
User=root
WorkingDirectory=/opt/mantaprint/web
ExecStart=/usr/bin/node --expose-gc --max-old-space-size=128 --max-semi-space-size=4 /opt/mantaprint/web/server/server.mjs
Restart=always
RestartSec=3
Environment=NODE_ENV=production
Environment=PORT=80
Nice=-5
IOSchedulingClass=best-effort
IOSchedulingPriority=2
MemoryHigh=180M
MemoryMax=256M
LimitNOFILE=16384
NoNewPrivileges=yes

[Install]
WantedBy=multi-user.target
